.b-post-review {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 20px;
  @include bp-phone-large() {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }

  .e-arrow {
    border: none;
  }

  .b-post-single-header {
    display: flex;
    align-items: center;

    .e-title {
      font-size: 18px;
      max-width: 120px;
      color: $color-primary;
    }
  }

  .b-post-single-img {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 100px;
    margin-right: 20px;
  }

  .b-post-single-content {
    padding: 0;
    background: white;
    color: black;
    position: relative;
    padding-top: 15px;
  }

  .e-details {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .b-post-single-footer {
    display: flex;
    justify-content: space-between;

    .btn {
      font-size: 13px;
    }
  }

  .btn-basic {
    padding: 0;
    min-width: initial;
    color: $color-primary;
  }

  .e-arrow {
    background: none;
    border-radius: 20px;
    position: relative;
    margin-right: auto;
    margin-left: 10px;

    &:before {
      content: "\f344";
      width: 21px;
      height: 19px;
      font-family: dashicons;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: $font-size-body;
    }
  }
}
