.error404 {
  .error-404 {
    min-height: 60vh;
    text-align: center;
    padding-top: 20px;
  }
}

.error404.has-extraspace-header.has-fixed-header {
  .main-content-wrapper {
    padding-top: 110px;
    @include bp-phone-xl() {
      padding-top: 70px;
    }
  }
}
