#alert-gdpr {
  .btn-close {
    bottom: initial;
    height: 20px;
    margin: auto 15px auto auto;
    padding: 0;
    top: 15px;
  }
}

.alert-position-bottom {
  position: fixed;
  bottom: 10px;
  left: $padding-left-container;
  right: $padding-right-container;
  margin: auto;
  max-width: $max-width-container;
  z-index: 100;
}

.alert-position-top {
  position: fixed;
  top: 100px;
  left: $padding-left-container;
  right: $padding-right-container;
  margin: auto;
  max-width: $max-width-container;
  z-index: 100;
}

.alert-font-sm {
  font-size: 14px;
}

.alert {
  border-radius: $border-radius-card;

  .btn-close {
    top: 15px;
    height: 20px;
    padding: 0;
    margin-right: 20px;
  }
}

.alert-danger {
  box-shadow: 0px 2px 10px 0px #f0f0f0;
  background: white;
  font-size: 14px;
  color: black;
  padding: 1em 2em 1em 3.5em;
  border: none;
  border-radius: 0;
  border-top: 3px solid $color-error;
  position: relative;

  &:before {
    content: "\f534";
    font-family: "Dashicons";
    font-size: 18px;
    line-height: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $color-error;
  }
}
