.alert-style-horizontal {
  display: flex;
  gap: 15px;
  align-items: center;
  @include bp-phone-xl() {
    flex-wrap: wrap;
  }

  .alert-details + .alert-actions {
    padding-top: 20px;
    @include bp-phone-xl() {
      padding-top: 0;
    }
  }

  .alert-actions {
    padding: 20px;
    @include bp-phone-xl() {
      padding: 0;
      width: 100%;
    }

    .btn {
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}

.alert-details + .alert-actions {
  padding-top: 10px;
}

.alert-position-bottom {
  position: fixed;
  bottom: 10px;
  left: $padding-left-container;
  right: $padding-right-container;
  margin: auto;
  max-width: var(--max-width-container);
  z-index: 100;
}

.alert-position-top {
  position: fixed;
  top: 100px;
  left: $padding-left-container;
  right: $padding-right-container;
  margin: auto;
  max-width: var(--max-width-container);
  z-index: 100;
}

.alert-font-sm {
  font-size: var(--body-text-font-size);
}

.alert {
  border-radius: $border-radius-card;
  font-size: var(--body-text-font-size);

  .btn-close {
    top: 15px;
    height: 20px;
    padding: 0;
    margin-right: 20px;
  }

  a {
    font-size: inherit;
  }
}

.alert-danger {
  background: white;
  font-size: var(--body-text-font-size);
  color: black;
  padding: 1em 2em 1em 3.5em;
  border: none;
  border-radius: 0;
  border-top: 3px solid $color-error;
  position: relative;

  &:before {
    content: "\f534";
    font-family: "Dashicons";
    font-size: 18px;
    line-height: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 1px;
    bottom: 0;
    margin: auto;
    color: $color-error;
    display: flex;
    align-items: center;
  }
}

.alert-success {
  background: white;
  font-size: var(--body-text-font-size);
  color: black;
  padding: 1em 3.5em 1em 3.5em;
  border: none;
  border-radius: 0;
  border-top: 3px solid $color-success;
  position: relative;

  &:before {
    content: "\f534";
    font-family: "Dashicons";
    font-size: 18px;
    line-height: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 1px;
    bottom: 0;
    margin: auto;
    color: $color-success;
    display: flex;
    align-items: center;
  }
}
