.badge {
  background-color: grey;

  &[data-status="active"], &.badge-active {
    color: #0091E6;
    background-color: #D9EFFB;
  }

  &[data-status="success"], &.badge-success {
    color: #18DA4E;
    background-color: #E8FBED;
  }

  &[data-status="pending"], &.badge-pending {
    color: #EF8354;
    background-color: #FDECE5;
  }

  &[data-status="pasive"], &.badge-pasive {
    color: #9A9EA7;
    background-color: #F5F6F7;
  }
}
