.btn {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

div[class^='btn-'], button[class^='btn-'], a[class^='btn-'] {
  cursor: pointer;
  z-index: 1;
  position: relative;

  &:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
}

.btn-primary,
.btn-secondary,
input[type=submit] {
  min-width: $min-width-btn;
  font-size: $font-size-btn;
  border: $border-btn;
  line-height: $line-height-btn;
  padding: $padding-btn;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  text-decoration: none;
  transition: $transition-btn;
  color: $color-btn-text;
  border: $border-btn;
  cursor: pointer;
  text-align: $text-align-btn;

  &:hover {
    @include bp-phone-xl-reverse() {
      opacity: 0.7;
      transition: all 0.5s;
    }
  }

  &:disabled {
    background: #6c757d !important;
    color: #fff !important;
    border: none !important;
    border-color: #6c757d !important;

    &:hover {
      opacity: 1;
    }
  }
}

.btn-primary, input[type=submit] {
  background: $color-btn-bg;
  color: white;
  border: 1px solid $color-btn-bg;

  a {
    color: white;
  }

  &:hover {
    background: $color-btn-bg;
    opacity: 0.7;
  }
}

.btn-secondary {
  background: none;
  color: $color-btn-bg;
  border: 1px solid $color-btn-bg;

  a {
    color: $color-btn-bg;
  }

  &:hover, &:focus {
    background: none;
    opacity: 0.7;
    color: $color-btn-bg;
    border: 1px solid $color-btn-bg;
  }
}

/**
Button link
 */
.btn-link {
  padding: 0;
  border-bottom: 1px solid;
  line-height: 18px;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-btn;
}

/**
Add button
 */
.btn-add {
  position: relative;

  &:before {
    content: '';
    content: "\f502";
    font-family: Dashicons;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}

/**
Add remove
 */
.btn-remove {
  position: relative;
  border: none;
  color: $color-active;

  &:before {
    content: '';
    content: "\f182";
    font-family: Dashicons;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}

.btn-close {
  background: none;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0;
  cursor: pointer;
  opacity: 1;

  &:before {
    content: "\f335";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
  }
}

.btn-back, .btn-back-bg {
  background: none;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0;
  cursor: pointer;

  &:before {
    content: "\f340";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
    margin: auto;
  }
}

.btn-back-bg {
  background: $color-light-grey;
}

.btn-gallery {
  position: relative;
  cursor: pointer;
  padding-left: 46px;

  &:before {
    content: "\f233";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.btn-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "\f344";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: relative;
    top: 2px;
    bottom: 0;
    left: initial;
    right: 0;
    line-height: 20px;
    margin: 0;
    padding-left: 10px;
  }
}
