.btn {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}

.btn-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

div[class^='btn-'], button[class^='btn-'], a[class^='btn-'] {
  cursor: pointer;
  z-index: 1;
  position: relative;

  &:hover {
    transition: 0.5s;
  }
}

.btn-primary,
.btn-secondary,
input[type=submit] {
  min-width: $min-width-btn;
  font-size: var(--btn-text-font-size);
  border: $border-btn;
  line-height: $line-height-btn;
  padding: $padding-btn;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  transition: $transition-btn;
  color: $color-btn-text;
  border: $border-btn;
  cursor: pointer;
  text-align: $text-align-btn;
  border-radius: $border-radius-btn;

  &:hover {
    @include bp-phone-xl-reverse() {
      transition: all 0.5s;
    }
  }

  &:disabled {
    background: var(--btn-primary-disabled) !important;
    color: var(--btn-primary-disabled-color) !important;
    border-color: var(--btn-primary-disabled-border-color) !important;

    svg {
      path {
        fill: var(--btn-primary-disabled-color) !important;
      }
    }

    span {
      color: var(--btn-primary-disabled-color) !important;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.btn-primary,
input[type=submit],
.wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
#sb_instagram .sbi_follow_btn a,
.woocommerce-cart .woocommerce button.button,
.woocommerce div.product form.cart .button,
.woocommerce-cart .wc-proceed-to-checkout .checkout-button.button.alt,
.woocommerce-checkout .woocommerce button.button.alt,
.woocommerce-Reviews #respond input#submit {
  background: var(--btn-primary-background-color);
  color: var(--btn-primary-color);
  border: 1px solid var(--btn-primary-border-color);
  border-radius: var(--btn-primary-border-radius);

  a {
    color: var(--btn-primary-color);
  }

  &:hover, &:focus, &:active {
    background: var(--btn-primary-background-color-active);
    color: var(--btn-primary-color-active);
    border-color: var(--btn-primary-border-color-active);

    span {
      color: var(--btn-primary-color-active);
    }

    svg {
      path {
        fill: var(--btn-primary-color-active);
      }
    }
  }

  svg {
    path {
      fill: var(--btn-primary-color);
    }
  }
}

.btn-secondary,
.wp-block-button.is-style-outline .wp-block-button__link {
  background: var(--btn-secondary-background-color);
  color: var(--btn-secondary-color);
  border: 1px solid var(--btn-secondary-border-color);
  border-radius: var(--btn-secondary-border-radius);

  a {
    color: var(--btn-secondary-color);
  }

  &:hover, &:focus, &:active {
    background: var(--btn-secondary-background-color-active);
    color: var(--btn-secondary-color-active);
    border: 1px solid var(--btn-secondary-border-color-active);

    span {
      color: var(--btn-secondary-color-active);
    }

    svg {
      path {
        fill: var(--btn-secondary-color-active);
      }
    }
  }

  svg {
    path {
      fill: var(--btn-secondary-color);
    }
  }
}

/**
Button link
 */
.btn-link {
  padding: 0;
  border-bottom: 1px solid;
  line-height: 18px;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
}

/**
Add button
 */
.btn-add {
  position: relative;

  &:before {
    content: '';
    content: "\f502";
    font-family: Dashicons;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}

/**
Add remove
 */
.btn-remove {
  position: relative;
  border: none;
  color: $color-error;

  &:before {
    content: '';
    content: "\f182";
    font-family: Dashicons;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}

.btn-close {
  background: none;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0;
  cursor: pointer;
  opacity: 1;

  &:before {
    content: "\f335";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
  }
}

.btn-back, .btn-back-bg {
  background: none;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 0;
  cursor: pointer;

  &:before {
    content: "\f340";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
    margin: auto;
  }
}

.btn-back-bg {
  background: $color-light-grey;
}

.btn-gallery {
  position: relative;
  cursor: pointer;
  padding-left: 46px;

  &:before {
    content: "\f233";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.btn-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "\f344";
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: relative;
    top: 2px;
    bottom: 0;
    left: initial;
    right: 0;
    line-height: 20px;
    margin: 0;
    padding-left: 10px;
  }
}

.btn-toggle, .btn-toggle-sm {
  position: relative;
  display: inline-block;

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .btn-toggle-inner {
    position: relative;
    width: 65px;
    height: 36px;
    overflow: hidden;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: #fcebeb;
    transition: 0.3s ease all;
    z-index: 1;
  }

  .btn-toggle-inner,
  .btn-toggle-inner .layer {
    border-radius: 100px;
  }

  .btn-toggle-inner .knobs:before {
    content: attr(data-label-off);
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    background-color: var(--btn-primary-background-color);
    text-transform: uppercase;
  }

  .btn-toggle-inner .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }

  .btn-toggle-inner .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }

  .btn-toggle-inner .checkbox:checked + .knobs:before {
    content: attr(data-label-on);
    left: 32px;
    background-color: #33cd26;
  }

  .btn-toggle-inner .checkbox:checked ~ .layer {
    background-color: rgb(215 246 224);
  }
}

.btn-toggle-sm {
  .btn-toggle-inner .checkbox:checked + .knobs:before {
    left: 26px;
  }

  .btn-toggle-inner {
    width: 53px;
    height: 30px;
  }

  .btn-toggle-inner .knobs:before {
    width: 23px;
    height: 23px;
    padding: 6px 1px;
  }
}

.btn-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

/**
Block
 */

.wp-block-button {
  &.border-none {
    a {
      border: none !important;
    }
  }

  &.w-100 {
    .wp-element-button {
      width: 100% !important;
    }
  }
}

.btn {
  &.is-loading {
    position: relative;

    .spinner-border {
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
}
