/**
Input / textarea
 */
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input:not([type='checkbox']):not([type='radio']):not([type='submit']):not(.qty),
textarea {
  padding: 11px 10px;
  background-color: $color-input-bg;
  color: $color-input;
  outline: 0;
  border-radius: $border-radius-input;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid $border-color-input;
  width: 100%;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::placeholder {
    opacity: 0.7;
  }
}

input[disabled]{
  background: $color-light-grey!important;
}

/**
Checkbox
 */
input[type="checkbox"] {
  width: 19px;
  height: 19px;
  position: relative;
  min-width: 19px;
  min-height: 19px;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 7px;
  top: -1px;

  &:before {
    content: "";
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    position: absolute;
    color: white;
    font-size: 19px;
    border: 1px solid $color-dark-grey;
    background: #f0f0f0;
    border-color: #e6e6e6;
  }

  &:checked {
    &:before {
      content: "\f15e";
      font-family: dashicons;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      color: $color-primary;
      font-size: 19px;
      line-height: 18px;
      text-indent: -1px;
    }
  }
}

/**
Radio
 */
input[type="radio"] {
  position: relative;
  min-width: 15px;
  min-height: 15px;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 3px;
  margin-right: 11px;

  &:before {
    content: "";
    border-radius: 20px;
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    position: absolute;
    background: white;
    pointer-events: none;
    border: 1px solid $border-color-input;
  }

  &:checked {
    &:before {
      content: "";
      border: 2px solid white;
      background: $color-active;
    }
  }

  & + label {
    margin-left: 6px;
    margin-right: 20px;
    position: relative;
    top: 1px;
  }
}

/**
Bootstrap form inputs
 */
.form-check {
  .form-check-label {
    position: relative;
    top: 3px;
    left: 3px;
  }

  .form-check-input {
    border: none;
  }
}

.form-label .required {
  color: $color-error;
  padding-left: 2px;
}
