.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;

  .page-numbers {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      font-weight: 300;
      background: white;
      border-radius: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      > a, > span {
        padding: 10px 18px;
        min-width: 44px;
        font-weight: bold;
        font-size: 16px;
        color: black;
        height: initial;
      }

      span {
        font-size: 16px !important;
        height: initial;
        font-weight: bold;
      }

      .current {
        background: black;
        color: white;
        border-radius: 40px;
      }

      .prev, .next {
        opacity: 0.6;
        margin: 0 !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        min-width: inherit !important;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .current {
    font-weight: bold;
    color: #9B9B9B;
  }

  .next {
    margin-left: 5px;
  }

  .prev {
    margin-right: 5px;
  }
}
