.avatar {
  border-radius: 50%;
  height: auto;
}

.user-profile {
  .dropdown-toggle {
    border: none;
    box-shadow: none;
    background: none;
    padding: 10px;
    font-size: var(--body-text-font-size);
    display: flex;
    align-items: center;

    &:after {
      margin-left: 10px;
    }

    img {
      border-radius: 30px;
    }
  }

  .account-img {
    cursor: pointer;
  }

  .account-details {
    margin-left: 10px;
    text-align: left;
  }

  .account-name {
    @include bp-phone-xl() {
      display: none;
    }
  }

  .dropdown-menu {
    padding: 0;
    margin: 0;
    overflow: hidden;

    ul {
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        font-size: var(--body-text-font-size);
        border-bottom: 1px solid $color-light-grey;
        list-style-type: none;

        a {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-top: 8px;
          padding-bottom: 8px;
          display: inline-block;
          width: 100%;
          color: $color-text;
          text-decoration: none;
        }
      }
    }
  }
}
