.e-title-intro {
  font-size: 30px;
  line-height: 130%;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  @include bp-phone-xl() {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.block-title {
  position: relative;
  display: block;
  border-bottom: 1px solid #e7edf2;
  margin-bottom: 1.5rem;
  width: 100%;
}
