.container {
  .alignfull {
    &.wp-block-group {
      &.extra-padding {
        > .wp-block-group__inner-container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .wp-block-group {
      &.extra-padding {
        > .wp-block-group__inner-container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    > .wp-block-group__inner-container {
      > .wp-block > .wp-block-columns {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .wp-block-group__inner-container {
      > .wp-block-group:not(.alignfull) {
        max-width: var(--max-width-container);
        margin: auto;
        padding-left: $padding-left-container;
        padding-right: $padding-right-container;

        .wp-block-group {
          padding-left: 0;
          padding-right: 0;
        }

        .wp-block-group__inner-container {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.wp-block-group {
  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: initial;

    > .wp-block-group__inner-container {
      padding: 0;
    }

    .wp-block-group__inner-container {
      .wp-block-group {
        > .wp-block-group__inner-container {
          padding-left: $padding-left-container;
          padding-right: $padding-right-container;
        }
      }

      .wp-block-columns {
        .wp-block-column {
          .wp-block-group__inner-container {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.wp-block-group__inner-container {
  max-width: var(--max-width-container);

  .alignfull & {
    margin: auto;
  }

  .has-text-align-center {
    margin: auto;
  }
}

.wp-block-group:not(.alignfull) {
  & > .wp-block-group__inner-container {
    padding-left: 0;
    padding-right: 0;
  }
}

:where(.wp-block-group.has-background) {
  padding: 0;
}
