/* File */

.wp-block-file .wp-block-file__button {
  background: #222;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 22px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.wp-block-file .wp-block-file__button:active {
  background: #1982d1;
  color: #bfddf3;
}

.rtl .wp-block-file * + .wp-block-file__button {
  margin-left: 0.75em;
  margin-right: 0;
}
