/*--------------------------------------------------------------
1.0 General Block Styles
--------------------------------------------------------------*/

figure[class^="wp-block-"] {
  margin-left: 0;
  margin-right: 0;
}

/* Captions */

[class^="wp-block-"] figcaption {
  font-family: Georgia, serif;
  font-size: 12px;
}

[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
  color: #666;
  margin-bottom: 1.625em;
  max-width: 96%;
  max-width: calc( 100% - 18px );
  padding: 3px 0 5px 40px;
  position: relative;
  text-align: left;
}

[class^="wp-block-"]:not(.wp-block-gallery) figcaption:before {
  color: #666;
  content: '\2014';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 0;
}

.rtl [class^="wp-block-"]:not(.wp-block-gallery) figcaption {
  padding-left: 0;
  padding-right: 40px;
  text-align: right;
}

.rtl [class^="wp-block-"]:not(.wp-block-gallery) figcaption:before {
  left: 0;
  margin-left: 5px;
  margin-right: 0;
  right: 10px;
}
