.container {
  .alignfull {
    &.wp-block-group {
      &.extra-padding {
        > .wp-block-group__inner-container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .wp-block-group {
      &.extra-padding {
        > .wp-block-group__inner-container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    > .wp-block-group__inner-container{
      > .wp-block > .wp-block-columns {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .wp-block-group__inner-container {
      > .wp-block-group:not(.alignfull) {
        max-width: $max-width-container;
        margin: auto;
      }
    }
  }

  .wp-block-group:where(.has-background) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
