/* Gallery */

.wp-block-gallery {
  margin: 0 0 1.625em;
}

.wp-block-gallery .blocks-gallery-item figcaption {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.wp-block-gallery .blocks-gallery-item img {
  border: 0;
  padding: 0;
}

.gallery-middle {
  .blocks-gallery-grid {
    display: flex;
    align-items: center;
    justify-content: center;

    .blocks-gallery-item {
      margin: auto;
      padding: 20px;
    }
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image img{
  width: fit-content;
}

.wp-block-gallery {
  max-width: var(--max-width-container);
  margin-left: auto !important;
  margin-right: auto !important;

  &.alignfull {
    max-width: initial;
  }
}
