.wp-block-cover {
  min-height: 200px;

  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: initial;
  }

  .wp-block-cover__inner-container {
    max-width: $max-width-container;
    padding-left: $padding-left-container;
    padding-right: $padding-right-container;
  }
}
