/* Table */

.wp-block-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  table {
    font-size: .875em;

    thead {
      border-bottom-color: #d1d5db;
      border-bottom-width: 1px;
    }
  }
}

.wp-block-table th {
  background-color: rgba(0, 0, 0, .3);
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, .15);
  border-top-width: 1px;
  padding: .25rem .75rem;
}

.wp-block-table td {
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, .15);
  padding: .25rem .75rem;
}
