.wp-block-cover-image.aligncenter,
.wp-block-cover.aligncenter {
  clear: both;
  display: flex;
}

.wp-block-cover-image.alignleft,
.wp-block-cover.alignleft {
  margin-right: 1.625em;
}

.wp-block-cover-image.alignright,
.wp-block-cover.alignright {
  margin-left: 1.625em;
}

.wp-block-cover .has-background-dim:not([class*=-background-color]) {
  background: none;
}

.wp-block-cover {
  min-height: 200px;

  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: initial;
  }

  .wp-block-cover__inner-container {
    max-width: $max-width-container;
    padding-left: $padding-left-container;
    padding-right: $padding-right-container;

    .wp-block-group__inner-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.container {
  .wp-block-cover__inner-container {
    @include bp-phone-xl() {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
