.wp-block-columns {
  max-width: var(--max-width-container);
  margin: auto;

  &.alignfull {
    max-width: initial;
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: initial;
  }

  .wp-block-column {
    margin-left: 15px;
    margin-right: 15px;
    @include bp-phone-xl() {
      margin-right: 0;
      margin-left: 0;
    }

    .wp-block-image {
      margin: 0;
    }
  }

  .wp-block-column {
    &.is-vertically-aligned-center {
      display: flex;
      flex-direction: column;
    }
  }
}

.container {
  .wp-block-columns .wp-block-column {
    margin-right: 0;
    margin-left: 0;
  }

  .wp-block-media-text {
    padding-left: 0;
    padding-right: 0;
  }
}
