/**
Block slider
 */
.wp-block-cb-carousel {
  &.wp-block-cb-carousel-align-center {
    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: initial;

    .slick-slide {
      padding: 0;
    }
  }
}
