.gallery-middle {
  .blocks-gallery-grid {
    display: flex;
    align-items: center;
    justify-content: center;

    .blocks-gallery-item {
      margin: auto;
      padding: 20px;
    }
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image img{
  width: fit-content;
}
