.wp-block-media-text {
  max-width: var(--max-width-container);
  padding-left: $padding-left-container;
  padding-right: $padding-right-container;
  margin: auto;

  .wp-block-media-text__content {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &.alignfull {
    max-width: 100%;
  }
}

/* Audio */

.wp-block-audio audio {
  display: block;
  width: 100%;
}
