.general-404 {
  text-align: center;

  .e-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
  }

  .img-wrapper {
    padding-bottom: 30px;
    padding-top: 5vh;

    img {
      max-width: 170px;
    }
  }
}

.content {
  .general-404 {
    padding-bottom: 50px;
  }
}
