.s-intro-half-offgrid {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  position: relative;
  padding-top: 0 !important;

  .m-bgoverlay {
    @include position-absolute;
  }

  .entry-content {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .b-img {
    padding-right: 0;
  }

  .col-content {
    width: 43%;
    max-width: 43%;
  }

  .col-img {
    min-height: 300px;
    margin-right: calc(-50vw + 50%);
  }

  .col-img {
    width: 57%;
    padding-right: 0;
  }
}
