.s-mainintro-post {
  padding-top: 0;

  .col-content-header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

    .e-title-cat {
      margin: 0;
      margin-left: 20px;
      font-size: 12px;
    }

    .e-date {
      font-size: 12px;
    }
  }

  .b-datetime {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;

    p {
      margin: 0;
    }

    .e-dot {
      padding-left: 5px;
      padding-right: 5px;
    }

    .e-date {
      font-size: 12px;
    }
  }

  .col-content {
    margin: 0;
    min-height: 610px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include bp-tablet-portrait() {
      min-height: initial;
    }

    .b-actions {
      margin-top: 20px;
    }

    .b-maincontent {
      display: flex;
      align-items: center;
    }

    .b-img {
      @include bp-tablet-portrait() {
        min-height: 350px;
      }
      @include bp-phone-xl() {
        min-height: 310px;
      }
    }

    .e-title {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 5px;
      line-height: 42px;

      a {
        color: #222222;
      }
    }

    p {
      a {
        color: #222222;
      }
    }
  }
}
