.b-member-single.b-member-single-horizontal {
  padding: 12px;

  .b-member-single-inner {
    display: flex;
    width: 100%;
    @include bp-phone-xl() {
      flex-wrap: wrap;
    }
  }

  .b-mainimg {
    box-shadow: 0px 0px 9px 1px rgba(128, 128, 128, 0.2);
    margin: auto;
    transition: all 0.5s;
    min-width: 175px;
    padding-top: 100%;
  }

  .b-mainimg-wrapper {
    @include bp-phone-xl() {
      width: 100%;
    }
  }

  &:focus {
    outline: none;
  }

  .b-content {
    text-align: left;
    padding: 15px;
    color: $color-text;
    transition: all 0.5s;
    max-width: 340px;
    width: 100%;
    font-size: 14px;
    @include bp-phone-xl() {
      padding: 15px 10px 10px 10px;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }

    .e-title-upper {
      margin: 0;
      opacity: 0.5;
      margin-bottom: 5px;
    }

    .e-title {
      font-size: 27px;
      font-weight: 500;
      margin-bottom: 10px;
      line-height: 32px;
      text-transform: uppercase;
    }

    p {
      margin: 0;
    }

    .e-title.m-cat {
      font-size: 16px;
      font-weight: initial;
    }

    a {
      display: inline-block;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      word-wrap: break-word;
      font-size: 16px;
      color: $color-text;

      &[href^="mailto:"] {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }

  .b-contacts {
    margin-top: 8px;
    flex-direction: column;

    .b-contacts-single {
      a {
        margin-top: 3px;
        margin-bottom: 3px;
      }

      span {
        margin-right: 7px;
        text-decoration: none;
      }

      .e-label {
        word-break: break-all;
        display: inline-block;
        max-width: 250px;
        position: relative;
        top: -1px;
      }
    }
  }
}

.b-member-circle {
  .b-mainimg {
    border-radius: 200px;
    border: 2px solid white;
  }
}
