.b-member-single.b-member-single-vertical {
  padding: 12px;
  @include bp-phone-xl() {
    width: 100%;
  }

  .b-member-single-inner {
    display: inline-block;
    width: 100%;
  }

  .b-mainimg {
    box-shadow: 0px 0px 9px 1px rgba(128, 128, 128, 0.2);
    margin: auto;
    transition: all 0.5s;
    padding-top: 100%;
  }

  &:focus {
    outline: none;
  }

  .b-content {
    text-align: center;
    padding-top: 15px;
    color: $color-text;
    transition: all 0.5s;
    @include bp-phone-xl() {
      padding: 15px 10px 10px 10px;
    }

    .e-title-upper {
      margin: 0;
      opacity: 0.5;
    }

    .e-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      line-height: 20px;
    }

    .e-title.m-cat {
      font-size: 16px;
      font-weight: initial;
    }
  }
}

.b-member-circle {
  .b-mainimg {
    border-radius: 200px;
    border: 2px solid white;
  }
}
