.b-office.b-office-horizontal {
  padding-bottom: 20px;
  padding-right: 20px;

  .e-title {
    font-size: 27px;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  a {
    word-break: break-all;
  }
}
