.site-footer {
  clear: both;
  color: var(--footer-text-color);

  a {
    color: var(--footer-text-color);

    .dashicons {
      color: var(--footer-text-color);
    }

    &:not(.btn):hover {
      color: var(--link-color-active);
    }
  }

  .logo-wrapper {
    text-align: center;

    & + .footer-inner-content {
      .c-footernav {
        padding-top: 30px;
      }
    }
  }

  #footer-menu {
    justify-content: flex-start;
    @include bp-phone-xl-reverse() {
      margin-left: -10px;
      width: calc(100% + 20px);
    }
    @include bp-phone-xl() {
      flex-direction: column;
    }

    .menu-item-has-children {
      font-weight: bold;
    }

    li {
      width: initial;
      margin-right: 0;
      @include bp-phone-xl() {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;
      }

      a {
        @include bp-phone-xl() {
          margin-bottom: 0;
        }
      }

      @include bp-phone-xl() {
        padding-right: 0;
      }
    }

    & > li {
      @include bp-phone-xl-reverse() {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  .mainlogo {
    padding-left: 0;
    padding-top: 0;
    max-width: 200px;

    &:empty {
      display: none;
    }

    @include bp-phone-xl() {
      padding-left: 0;
      padding-top: 0;
      max-width: 180px;
    }

    img {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  .menu-footer-menu-container {
    width: 100%;
  }

  .menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include bp-phone-xl() {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include bp-phone-xl() {
      text-align: left;
      padding-bottom: 10px;
      padding-left: 0;
      width: 100%;
      margin-right: auto;
      padding-right: 10px;
    }

    a {
      display: inline-block;
      padding: 0;
      margin-bottom: 5px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      & + .sub-menu {
        border-top: 1px solid white;
        padding-top: 10px;
      }
    }

    .sub-menu {
      margin: 0;
      padding: 0;

      li {
        width: 100%;
      }

      p {
        margin: 0;
        font-weight: 300;
        padding-bottom: 5px;
      }

      a {
        font-weight: 400;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .b-contacts {
    padding: 0;
    margin: 0;
    @include bp-phone-xl() {
      width: 100%;
    }

    p {
      padding: 0;
      margin: 0;
      color: white;
      font-size: var(--body-text-font-size);
    }

    li {
      @include bp-phone-xl() {
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }
    }

    .content {
      li {
        margin: 0;
      }

      a {
        font-weight: inherit;
        text-transform: initial;
        margin: 0;
      }
    }
  }

  .c-footernav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

    .menu-main-menu-container {
      width: 100%;
    }

    .e-img {
      max-width: 240px;
      margin-top: 40px;
      padding-left: 40px;
      margin-left: auto;
      margin-right: auto;
      @include bp-phone-xl() {
        padding-left: 30px;
        padding-top: 10px;
        margin-top: 50px;
      }
    }
  }

  .footer-inner-top {
    min-height: 80px;
    font-size: var(--body-text-font-size);
    padding-bottom: 25px;
    @include bp-phone-xl() {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    p {
      font-size: var(--body-text-font-size);
    }

    .footer_logo {
      padding-top: 0;

      &:empty {
        display: none;
      }
    }
  }

  .footer-inner-top {
    & + .footer-inner-bottom {
      border-top: 1px solid #ededed;
    }
  }

  .footer-inner-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    @include bp-phone-xl() {
      flex-direction: column;
      gap: 15px;
    }
    @include bp-phone-large() {
      font-size: 12px;
    }

    .b-details {
      @include bp-phone-xl() {
        max-width: 65%;
      }
    }

    .s-icons {
      @include bp-phone-xl() {
        margin-right: 0;
        margin-left: auto;
      }
    }

    .copyright, .credits {
      font-size: 12px;
      padding: 0;

      a, p {
        font-size: 12px;
      }
    }

    .copyright {

      p {
        font-size: 12px;
        margin: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .footer-extra-content {
    @include bp-phone-xl-reverse() {
      padding-top: 30px;
    }

    h4, h3, h2, h1, h5, h6 {
      font-weight: 700;
      margin-bottom: 10px;
      display: inline-block;
      padding: 0;
      border-bottom: 1px solid #fff;
      width: 100%;
      line-height: 22px;
    }

    p {
      margin-bottom: 5px;
      padding: 0;
    }

    p:empty {
      display: none;
    }
  }

  .current-menu-item {
    a {
      font-weight: bold;
    }
  }
}

@import "footers/type-1";
@import "footers/type-2";
@import "footers/type-3";
