@import "headers/type-1";
@import "headers/type-2";

.header-logo-wrapper {
  padding: 5px;
  max-width: 190px;
  position: relative;
  padding-left: 0;
  width: 100%;
  @include bp-tablet-portrait() {
    max-width: 130px;
  }
  @include bp-phone-xl() {
    padding-left: 0;
    padding-right: 0;
  }

  &.has-scroll-logo {
    .mainlogo-mobile {
      display: none;
    }
  }
}

.site-header {
  &:not(.is-fixed) {
    .header-logo-wrapper {
      &.has-mobile-logo {
        .mainlogo {
          @include bp-tablet-portrait() {
            display: none !important;
          }
        }

        .mainlogo-mobile {
          display: none;
          @include bp-tablet-portrait() {
            display: block !important;
          }
        }
      }
    }
  }
}

.mainlogo {
  display: inline-block;
  width: 100%;
  transition: all 0.5s;

  svg {
    max-width: 130px;
    height: initial;

    path {
      fill: black;
    }
  }

  img {
    width: 100%;
  }

  &.m-oposite {
    svg {
      path {
        fill: white;
      }
    }
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 95px;
  transition: all 0.5s;
  flex-wrap: wrap;
  @include bp-tablet-big() {
    min-height: 70px;
  }

  .page-title {
    margin: 0;
    display: inline-block;
    width: initial;
    margin-right: auto;
  }

  .mainlogo {
    margin-right: auto;
    margin-left: 0;
  }

  .hamburger[data-type="outer"] {
    &.is-active {
      opacity: 0;
    }
  }
}

.b-header {
  padding: 0;
}

header, header a {
  color: var(--text-color);
}

header a:hover {
  opacity: 0.8;
  color: var(--link-color-active);
}

#header_logo_scroll,
#header_logo_mobile_scroll {
  display: none;
}

.header_logo:empty {
  display: none;
}

.has-absolute-header {
  .site-header {
    position: absolute;
  }
}

.site-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 98;

  .language-selector {
    margin-left: 10px;
    margin-right: 0;
    display: inline-block;

    &.individual-mode {
      width: initial;
      height: initial;

      #qtranslate-chooser {
        position: relative;
        width: initial;
        display: flex;
        flex-direction: row;

        li {
          display: inline-block;
        }
      }
    }

    &.text-mode {
      top: 0;

      #qtranslate-chooser {
        a {
          background: none;
          width: initial;
          height: initial;
          padding: 0;
          min-width: 30px;
          min-height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span {
          display: block;
        }
      }
    }
  }

  .b-promo {
    padding: 10px;

    p {
      margin: 0;
      font-size: var(--body-text-font-size);
    }
  }

  &.site-header-transparent {
    background: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;

    a {
      color: $color-navbar;
      font-size: 13px;
      padding-left: 30px;

      @include bp-phone-large() {
        padding: 0;
      }

      img {
        padding: 0 15px;
        margin-bottom: -2px;

        @include bp-phone-large() {
          padding: 0 10px;
        }
      }
    }

    .navbar-inner {
      max-width: 1200px;
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &.has-transition {
    transition: all 0.5s;
  }

  &.is-fixed {
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);

    .main-navigation {
      bottom: 0;
      transition: all 0.5s;
    }

    .navbar {
      background: $color-navbar-scroll;
      transition: all 0.5s;
    }

    #header_logo {
      display: none;
    }

    #header_logo_scroll:empty {
      display: none;
    }

    #header_logo_scroll {
      display: block;
      @include bp-phone-xl() {
        display: none;
      }
    }

    #header_logo_mobile_scroll {
      display: none;
      @include bp-phone-xl() {
        display: block;
      }
    }
  }

  li.btn {
    padding: 0;
    min-width: initial;

    a {
      padding: 10px;
      display: inline-block;
    }
  }

  &.is-fixed {
    position: fixed;
  }

  &.hide-onscroll {
    translate: 0 -100%;
  }

  &.hide-onscroll, &.show-onscroll {
    transition: all 0.5s;
  }
}

.menu-header-container {
  .menu {
    @include bp-tablet() {
      display: none;
    }
  }
}

#header-menu {
  li {
    position: relative;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      text-decoration: none;
    }

    &:hover {
      > .sub-menu {
        display: block;
      }
    }
  }

  .sub-menu {
    background: white;
    border: 1px solid whitesmoke;
    border-top: 2px solid black;
    padding: 0;
    position: absolute;
    //top: 40px;
    left: 0;
    display: none;
    min-width: 180px;

    a {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
    }

    .sub-menu {
      right: -100%;
      left: initial;
      top: 0px;
    }
  }

  li.btn {
    padding: 0;
    margin-left: 15px;

    a {
      padding: 10px 15px;
      color: white;
    }
  }
}

.mainlogo {
  display: inline-block;
  width: 100%;

  svg {
    path {
      fill: black;
    }
  }

  &.m-oposite {
    svg {
      path {
        fill: white;
      }
    }
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  flex-direction: column;
  min-height: 130px;
  @include bp-tablet-big() {
    flex-direction: row;
  }

  .mainlogo {
    margin: auto;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  margin-left: 10px;
  @include bp-phone-xl-reverse() {
    margin: 0 auto auto;
    margin-bottom: 5px;
  }
  @include bp-phone-xl() {
    bottom: 0;
  }

  ul {
    margin: 0;
  }
}

.main-navigation-always-visible {
  z-index: 10;

  .menu-header-container .menu {
    display: flex;
  }
}

.b-header {
  padding: 0;
}

.menu-header-container {
  .menu {
    @include bp-tablet-big() {
      display: none;
    }
  }
}

.menu li a {
  @include bp-phone-xl-reverse() {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.side-nav {
  position: relative;
  right: 20px;
  bottom: 0;
  margin: auto;
  top: 0px;
  display: flex;
  align-items: center;
  margin-right: 5px;

  .menu {
    display: inline-block;
    margin: auto;
    //margin-left: 15px;
    margin-right: 10px;
    //@include bp-phone-xl() {
    //  margin-left: 10px;
    //}
  }

  .menu {
    @include bp-phone-xl() {
      display: none;
    }

    li a {
      padding: 0;
    }
  }
}

#header_navbar_text {
  p {
    margin: 0;
    font-size: 13px;
  }
}

.burger-open {
  .site-header {
    z-index: 100;
  }
}

.side-nav-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  list-style-type: none;
  gap: 10px;
  @include bp-phone-xl() {
    padding-left: 5px;
    top: 1px;
  }

  .language-selector {
    @include bp-phone-xl() {
      display: none;
    }
  }

  .customizer {
    position: relative;
  }

  .menu {
    li {
      padding: 0;
      padding-left: 10px;
      cursor: pointer;

      a {
        padding: 0;

        &:hover {
          text-decoration: none;
        }
      }

      i {
        font-size: 22px;
      }

      &.e-wishlist {
        i {
          font-size: 20px;
        }
      }

      &.e-cart {
        top: 1px;

        i {
          font-size: 23px;
          top: -1px;
        }
      }

      &.e-profile {
        @include bp-phone-xl() {
          display: none;
        }
      }

      &.customizer {
        position: relative;
        top: 1px;
      }
    }
  }

  .menu {
    li {
      padding-left: 10px;
    }

    .language-selector {
      margin-left: 15px;
      padding-left: 0;

      li {
        padding-left: 0;
      }
    }
  }
}

.header-extra-content-wrapper {
  margin-left: 20px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  @include bp-phone-xl() {
    display: none;
  }
}

.menu-login-menu-container {
  @include bp-tablet-big() {
    display: none;
  }

  li {
    @include bp-phone-xl-reverse() {
      margin-left: 10px;
    }
  }
}

#login-menu {
  .btn {
    min-width: 50px;

    a {
      padding-left: 40px;
      padding-right: 40px;
      text-decoration: none;
    }
  }
}

/**
Adjusting for navbar and header fixed main content
 */
.has-extraspace-header {
  .main-content-wrapper {
    margin-top: 90px;
    padding-top: 0;
    @include bp-phone-xl() {
      margin-top: 70px;
    }
  }

  &.has-navbar {
    .main-content-wrapper {
      margin-top: 123px;
    }
  }
}

body.has-fixed-header {
  &.has-extraspace-header {
    .main-content-wrapper {
      margin-bottom: 0;
      @include bp-tablet-portrait() {
        margin-top: 70px;
      }
      @include bp-phone-xl() {
        margin-top: 70px;
      }
    }

    &.header-type-2 {
      .main-content-wrapper {
        margin-top: 75px;
        margin-bottom: 0;
        @include bp-phone-xl() {
          margin-top: 70px;
        }
      }
    }
  }
}

body.has-fixed-header.has-navbar {
  &.has-extraspace-header, &.has-extraspace-header:not(.home) {
    .main-content-wrapper {
      margin-top: 135px;
      @include bp-phone-xl() {
        margin-top: 130px;
      }
    }

    &.header-type-2, &.header-type-3 {
      .main-content-wrapper {
        margin-top: 108px;
        @include bp-phone-xl() {
          margin-top: 104px;
        }
      }
    }
  }
}
