.modal {
  color: $color-text;

  .modal-header {
    .btn-close {
      position: absolute;
      right: 25px;
      top: 28px;
      color: $color-text;
      background: none;
      padding: 0;

      .dashicons {
        color: white;
        font-size: 28px;
        position: relative;
        left: -7px;
        top: -6px;
      }
    }

    .modal-title {
      margin: auto;
      font-size: 18px;
      color: $color-text;
    }
  }

  .modal-body {
    padding: 30px;
    font-size: var(--body-text-font-size);
    position: relative;
    @include bp-phone-xl() {
      padding: 15px;
    }
  }

  .content-shadow {
    height: 100px;
    position: sticky;
    width: 100%;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
  }

  .modal-footer {
    background: $color-extra-light-grey;
    gap: 10px;
    justify-content: center;

    .btn {
      margin: 0;
      width: calc(50% - 5px);
    }
  }
}

@import "modals/terms";
