.panel-logo-wrapper {
  position: relative;
  z-index: 1;
  max-width: 140px;
}

.has-panel {
  .header-logo-wrapper {
    display: none;
    @include bp-phone-xl() {
      display: block;
    }
  }

  .site-header {
    width: initial;
    padding-left: $padding-left-container;
    padding-right: $padding-right-container;

    .header-inner {
      margin: auto;
      padding-left: calc(100% - 78% - 30px + 55px);
      @include bp-phone-xl() {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .sidebar + .main {
    width: 55%;
    @include bp-tablet() {
      width: 54%;
    }
    @include bp-phone-xl() {
      width: 100%;
    }

    .s-intro, .s-posts {
      margin: 0;
    }
  }

  &.has-sidebar-primary {
    .panel-area {
      width: 21%;
      @include bp-phone-xl() {
        width: 34%;
      }
    }

    .sidebar + .main {
      width: 56%;
      @include bp-tablet() {
        width: 55%;
      }
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    &.has-sidebar-catalog {
      .sidebar {
        width: 20%;
      }

      .sidebar + .main {
        width: 39%;
        @include bp-tablet() {
          width: 32%;
        }
        @include bp-phone-xl() {
          width: 100%;
        }
      }
    }
  }

  .main-content-wrapper {
    display: table;
    width: 100%;
    padding: 0;
  }

  .main-content-wrapper {
    max-width: 1465px;
  }

  .container {
    max-width: 1465px;
  }

  .sidebar {
    padding-right: 15px;
    width: 23%;
    @include bp-tablet() {
      width: 24%;
    }
  }

  .shop-header-featured {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel-area {
  width: 22%;
  float: left;
  height: 100vh;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 98;
  margin-top: -90px;
  position: relative;

  .panel-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    border-right: 1px solid $color-extra-light-grey;
  }

  @include bp-tablet() {
    width: 28%;
  }
  @include bp-tablet-portrait() {
    width: 35%;
  }
  @include bp-phone-xl() {
    display: none;
  }

  & + .main {
    width: 78%;
    float: left;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    @include bp-tablet() {
      width: 72%;
    }
    @include bp-tablet-portrait() {
      width: 65%;
    }
    @include bp-phone-xl() {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .content-wrapper {
      padding-top: 30px;
    }

    .content-wrapper, .s-intro, .s-posts-related {
      margin: 0;
    }
  }

  .panel-header {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90px;
    padding-top: 0;
    padding-left: 25px;
    z-index: 1;
  }

  &.panel-style-2 {
    background: #f8f9fb;
    border-right: none;

    &:before {
      content: '';
      @include position-absolute;
      background: #f8f9fb;
      margin-left: -10000%;
    }

    .panel-header {
      background-color: #383a45;
      padding-bottom: 125px;
      min-height: 300px;
      justify-content: center;

      &:before {
        content: '';
        @include position-absolute;
        background: #383a45;
        margin-left: -10000%;
      }
    }

    .panel-nav {
      max-width: 80%;

      ul {
        padding-left: 10px;
      }
    }

    &.current-menu-item {
      a {
        span {
          color: $color-active;
        }
      }
    }
  }

  .panel-profile {
    background: white;
    position: relative;
    max-width: 80%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 100px rgb(58 46 68 / 6%);
    margin-top: -120px;
    margin-bottom: 60px;

    &:before {
      content: "";
      background: #fff;
      width: 90%;
      height: 91%;
      border-radius: 12px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -12 px;
      z-index: -1;
      box-shadow: 0 15px 100px rgb(58 46 68 / 6%);
    }

    .profile-avatar {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        @include position-absolute;
        background: white;
        border: 1px solid #f4f4f4;
        height: calc(100% + 10px);
        border-radius: 70px;
        left: -5px;
        width: calc(100% + 10px);
        right: -5px;
        top: -5px;
        bottom: -5px;
      }

      img {
        position: relative;
        z-index: 1;
      }
    }

    .avatar {
      width: 50px;
    }

    .profile-name {
      margin-top: 8px;
      flex-direction: column;
      display: flex;
      overflow-wrap: break-word;

      small {
        font-size: 12px;
        color: #bbbbdc;
      }
    }
  }

  .panel-nav {
    margin: auto;
    position: relative;
    padding-right: 20px;
    z-index: 1;
    padding-left: 20px;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      li {
        width: 100%;
        font-size: 14px;
        margin: 0;

        &.border-bottom {
          padding-bottom: 15px;
          margin-bottom: 15px;
        }

        &.current-menu-item {
          a {
            background: #F5F6F7;

            span {
              color: $color-primary;
            }

            i {
              color: $color-primary;
            }
          }
        }

        a {
          word-break: keep-all;
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 25px;
          border-radius: 8px;
          font-weight: bold;

          .dashicons {
            position: relative;
            top: -2px;
          }

          i {
            margin-right: 19px;
            font-size: 22px;
            color: $color-text;
          }

          span {
            color: $color-text;
          }
        }

        &:not(.current-menu-ancestor) {
          .sub-menu {
            display: none;
          }
        }

        &:hover {
          > .sub-menu {
            display: block !important;
          }
        }
      }

      &.sub-menu {
        position: relative;
        top: 0;
        left: 30px;
        z-index: 1;

        a {
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 13px;
        }

        li {
          margin-bottom: 10px !important;

          &:last-child {
            margin-bottom: 5px !important;
          }
        }
      }
    }
  }
}
