.block-editor-block-list__block {
  &.wp-block-cover {
    position: relative;
    overflow: hidden;

    img.wp-block-cover__image-background {
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: none;
    }
  }
}
