.site-footer-type-4 {
  li a {
    span {
      font-weight: 300;
    }

    + .sub-menu {
      border: none;

      a {
        font-size: 14px;

        img {
          position: relative;
          top: -2px;
          margin-right: 5px;
        }
      }

      li {
        padding-bottom: 5px;
      }
    }
  }

  .footer-logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    @include bp-phone-xl() {
      width: 100%;
      padding-bottom: 30px;
    }

    .s-icons {
      margin-top: 10px;
      margin-left: auto;
    }
  }

  .footer-extra-content {
    padding-top: 5px;
    padding-left: 20px;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    @include bp-phone-xl() {
      padding-left: 0;
      padding-top: 30px;
      margin-top: 25px;
      width: 100%;
      max-width: initial;
      border-top: 1px solid rgba(237, 237, 237, 0.2);
    }

    ul {
      margin: 0;
      @include bp-phone-xl() {
        padding-left: 0;
      }
    }
  }

  .footer-inner-top {
    padding-top: 35px;
    padding-bottom: 20px;
    min-height: initial;
    @include bp-phone-xl() {
      padding-top: 25px;
    }

    .col-12 {
      display: flex;
    }

    .c-footernav {
      width: initial;
      margin-left: initial;
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    & + .footer-inner-bottom {
      border-top: 1px solid rgba(237, 237, 237, 0.2);
      @include bp-phone-xl() {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }

  #footer_logo {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: auto;
    @include bp-phone-xl() {
      max-width: 50%;
      margin: auto;
      margin-top: 15px;
    }

    img {
      padding-top: 5px;
      padding-bottom: 9px;
    }
  }

  .c-footernav {
    max-width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-right: 20px;
    @include bp-phone-xl() {
      max-width: 100%;
      padding: 0;
      width: 100%;
    }

    .menu-footer-container {
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    #footer-menu {
      @include bp-phone-xl() {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .menu-item {
        min-width: 190px;
        @include bp-phone-xl() {
          min-width: initial;
          width: 50%;
        }
      }
    }
  }

  #footer_logo {
    & + .c-footernav {
      @include bp-phone-xl() {
        max-width: 50%;
      }

      a {
        @include bp-phone-xl() {
          text-align: right;
        }
      }
    }
  }

  .footer-inner-bottom {
    flex-direction: row;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include bp-phone-xl() {
      flex-direction: column;
    }

    .copyright {
      margin-left: 0;
    }

    .credits {
      display: flex;
      opacity: 0.5;
      gap: 20px;
    }
  }

  #footer_copyright {
    width: 50%;
    @include bp-phone-xl() {
      width: 100%;
    }
  }

  .c-footernav {
    padding-top: 5px;
    @include bp-phone-xl() {
      padding-bottom: 0px;
    }
  }

  .s-icons {
    text-align: right;
    display: flex;

    a {
      margin-left: 10px;
    }

    span {
      font-size: 24px;
    }

    @include bp-phone-xl() {
      text-align: center;
    }
  }
}
