.site-footer-type-3 {
  .footer-extra-content {
    display: flex;
    @include bp-phone-xl() {
      flex-direction: column;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .e-img {
      max-width: 210px;
      margin-left: auto;
      @include bp-phone-xl() {
        margin: auto;
      }
    }
  }

  .mainlogo {
    padding-top: 35px;
  }

  .s-icons {
    @include bp-phone-xl() {
      margin-top: 20px;
    }
  }

  .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    @include bp-tablet-portrait() {
      flex-direction: column;
    }

    li {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }

      &.menu-item-has-children {
        > * {
          font-weight: bold;
        }
      }
    }
  }
}
