.s-posts {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.single.has-sidebar-primary {
  .s-posts {
    margin: 0;
  }
}

.s-posts-related {
  padding-top: 50px;
  padding-bottom: 30px;
  @include bp-phone-xl() {
    padding-top: 30px;
  }

  .b-post-single {
    @include bp-phone-xl() {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .container {
    position: relative;
  }
}

.content-wrapper + .s-posts-related {
  margin-top: 40px;
}

.single-post {
  .content {
    padding-bottom: 40px;

    p {
      & + h3 {
        padding-top: 20px;
      }
    }
  }

  .s-content {
    margin-top: 0;
    margin-bottom: 10px;

    .container {
      margin: auto;
      max-width: 768px;
    }
  }
}
