.posts-navigation {
  width: 100%;
  margin-top: 30px;
}

.s-posts {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.s-posts-related {
  background: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 30px;
  @include bp-phone-xl() {
    padding-top: 30px;
  }

  .b-post-single {
    @include bp-phone-xl() {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .container {
    position: relative;
  }
}

.b-posts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  width: calc(100% + 20px);

  &.slick-initialized {
    display: block;
    @include bp-page-content() {
      max-width: 90%;
      margin: auto !important;
    }
  }

  &[data-columns="1"] {
    .b-post-single {
      width: calc(100% / 1);
    }
  }

  &[data-columns="2"] {
    .b-post-single {
      width: calc(100% / 2);
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }

  &[data-columns="3"] {
    .b-post-single {
      width: calc(100% / 3);
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }

  &[data-columns="4"] {
    .b-post-single {
      width: calc(100% / 4);
      @include bp-tablet-portrait() {
        width: calc(100% / 3);
      }
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }

  &[data-columns="5"] {
    .b-post-single {
      width: calc(100% / 5);
      @include bp-tablet-portrait() {
        width: calc(100% / 3);
      }
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}

.single-post {
  .s-content {
    margin-top: 0;
    margin-bottom: 10px;

    .container {
      margin: auto;
      max-width: 768px;
    }
  }
}
