/**
To prevent horizontal scroll
 */
html,
body {
  overflow-x: hidden;
}

/**
Stop scroll
 */
html.stopscroll, body.stopscroll {
  overflow: hidden;
}

body {
  .main {
    margin-top: 0;
    padding-top: 25px;
  }
}

main.main, main#main {
  min-height: 500px;
  @include bp-tablet-portrait() {
    min-height: initial;
  }

  .section {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container {
  max-width: var(--max-width-container);
  padding-left: $padding-left-container;
  padding-right: $padding-right-container;
}

/**
Admin bar frontend
 */

#wpadminbar {
  position: fixed;
  top: 0;
}

/**
Default admin bar
 */
.admin-bar {
  .search-fixed, .main-navigation-mobile {
    margin-top: 32px !important;
    @include bp-phone-xl() {
      margin-top: 46px !important;
    }
  }

  &.has-fixed-header, &.has-absolute-header {
    .site-header {
      top: 32px;
    }
  }
}

.has-promo-bar {
  .search-fixed, .main-navigation-mobile {
    margin-top: 65px !important;
  }
}

/**
Admin bar frontend END
 */

b, strong {
  font-weight: bold;
}

.site-content {
  padding-top: 60px;
}

.section {
  margin-top: 40px;
  margin-bottom: 40px;
  @include bp-phone-xl() {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.site-header + .wrap {
  .maincontent {
    padding-top: 10px;
  }
}

/**
Main content wrapper
 */
.main-content-wrapper {
  max-width: var(--max-width-container);
  margin: auto;
  padding-bottom: 50px;
  @include bp-phone-xl-reverse() {
    min-height: 650px;
  }
}

.home, .page-template-template-nopadding, .single {
  .main-content-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/**
Admin bar
 */
#wpadminbar {
  height: initial;
}

/**
Action bar
 */

.actionbar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
