@mixin bg($filename, $size: contain, $position:center, $repeat: no-repeat) {
  //$imagedir: '#{$STATIC_ASSETS_URL}/public/';
  $imagedir: './../../';
  background: transparent url('#{$imagedir}#{$filename}') $repeat $position;
  background-size: $size;
}

@mixin position-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin bp-page-content-reverse($bp:">=1440") {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin bp-desktop-reverse($bp:">=1200") {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-netbook-reverse($bp:">=1024") {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin bp-tablet-big-reverse($bp:">=992") {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-tablet-portrait-reverse($bp:">=767") {
  @media only screen and (min-width: 767px) {
    @content;
  }
}

@mixin bp-phone-xl-reverse($bp:">=640") {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

/**
Max-width
 */
@mixin bp-page-content($bp:"<=1440") {
  @media only screen and (max-width: 1440px) {
    @content;
  }
}

@mixin bp-macbook-13($bp:"<=1300") {
  @media only screen and (max-width: 1300px) {
    @content;
  }
}

@mixin bp-tablet($bp:"<=1124") {
  @media only screen and (max-width: 1124px) {
    @content;
  }
}

@mixin bp-tablet-big($bp:"<=992") {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin bp-tablet-medium($bp:"<=820") {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

@mixin bp-tablet-portrait($bp:"<=767") {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin bp-tablet-only($bp:"768-1024") {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin bp-phone-xl($bp:"<=640") {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin bp-phone-large($bp:"<=570") {
  @media only screen and (max-width: 570px) {
    @content;
  }
}

@mixin bp-phone($bp:"<=480") {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin bp-phone-small($bp:"<=360") {
  @media only screen and (max-width: 360px) {
    @content;
  }
}
