
/**
Spacers
 */
.spacer-phone-xl-4 {
  @include bp-phone-xl() {
    height: 40px !important;
  }
}

.spacer-phone-xl-5 {
  @include bp-phone-xl() {
    height: 50px !important;
  }
}

.spacer-phone-xl-6 {
  @include bp-phone-xl() {
    height: 60px !important;
  }
}

.spacer-phone-xl-7 {
  @include bp-phone-xl() {
    height: 70px !important;
  }
}

.spacer-phone-xl-8 {
  @include bp-phone-xl() {
    height: 80px !important;
  }
}

.spacer-phone-xl-9 {
  @include bp-phone-xl() {
    height: 90px !important;
  }
}

.spacer-phone-xl-10 {
  @include bp-phone-xl() {
    height: 100px !important;
  }
}
