body {
  font-size: 100%;
}

a {
  font-size: var(--body-text-font-size);
  color: var(--link-color);

  &:hover {
    color: var(--link-color-active);
  }
}

p {
  line-height: 145%;
  font-size: var(--body-text-font-size);
  margin-bottom: 6px;

  &:empty {
    display: inline-block;
  }
}

h1 {
  font-size: 3.0em;
  line-height: 120%;
  margin-bottom: 15px;
  @include bp-phone-xl() {
    font-size: 2.2em;
  }
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  width: 100%;
  margin-bottom: 15px;
  font-weight: $font-weight-intro;
  @include bp-phone-xl() {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  @include bp-phone-xl() {
    font-size: 22px;
    line-height: 28px;
  }
}

h4 {
  font-size: 18px;
  line-height: 120%;
}

h5 {
  font-size: 18px;
  line-height: 1.4;
}

h6 {
  font-size: 16px;
}

.e-title-intro, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-intro;

  a {
    font-size: inherit;
  }
}

li {
  font-size: var(--body-text-font-size);
}

ul {
  padding-left: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: var(--body-text-font-size);

  li {
    margin-bottom: 5px;
  }

  &.m-hyphens {
    li {
      &:before {
        content: '- ';
        position: absolute;
        margin-left: -15px;
      }
    }
  }
}

p {
  > img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

ul + p {
  img {
    margin-top: 5px;
  }
}

legend {
  font-size: var(--body-text-font-size);
}

.wp-block-quote.is-style-large {
  border-color: #5561e2;
  border-left: 2px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
