/**
Colors
 */
/**
Font
 */
/**
Typography
 */
/**
Main
 */
/**
Status
 */
/**
Body
 */
/**
Link
 */
/**
Text
 */
/**
Header
 */
/**
Footer
 */
/**
Navbar
 */
/**
Menu
 */
/**
Buttons
 */
/**
btn-primary
 */
/**
btn-secondary
 */
/**
Input
 */
/**
Container
 */
/**
Max-width
 */
ul.list-check {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
}
ul.list-check i {
  padding-right: 5px;
}
ul.list-check li {
  position: relative;
  padding-left: 24px;
}
ul.list-check li:before {
  content: "\f147";
  font-family: Dashicons;
  position: absolute;
  left: 0;
  top: -4px;
  font-size: 22px;
}

a ul li {
  color: #3a3a3a;
}

table.wp-list-table .column-product_type {
  width: 10% !important;
  text-align: left !important;
}

/**
Editor autosize fix
 */
@media (min-width: 783px) {
  body.acf-autosize-enabled .acf-field:not(.no-autosize) .mce-top-part {
    top: 0 !important;
  }
}
