.wp-block-media-text {
  &.is-style-cover-element {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100px;

    .wp-block-media-text__media {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0.3;
        background: black;
      }

      a {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        transition: all 0.5s;

        &:hover {
          opacity: 0.9;
          transition: all 0.5s;
        }
      }
    }

    .wp-block-media-text__media, .wp-block-media-text__content {
      margin: 0;
      position: relative;
    }

    .wp-block-media-text__content {
      display: flex;
      z-index: 1;
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      &:not(.block-editor-block-list__layout) {
        pointer-events: none;
      }

      p {
        margin: 0;
      }
    }
  }
}
