.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;

  .page-numbers {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 10px 18px;
      border: 1px solid #f0f0f0;
      font-weight: 300;
      background: white;
      margin-right: 10px;
      border-radius: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .current {
    font-weight: bold;
    color: #9B9B9B;
  }

  .next {
    margin-left: 5px;
  }

  .prev {
    margin-right: 5px;
  }
}
