.main-navigation-mobile-type-3 {
  &.main-navigation-mobile:before {
    opacity: 0.5;
  }

  .header-logo-wrapper {
    padding-left: 15px;
  }

  .main-navigation-mobile-inner {
    width: 85%;
    max-width: 500px;

    .main-navigation-mobile-top {
      @include bp-phone-xl() {
        padding-left: 5px;
      }
    }

    .main-navigation-mobile-content {
      @include bp-phone-xl() {
        padding-left: 10px;
      }
    }
  }

  .menu-mobile-container {
    padding-top: 50px;
  }

  .menu-extra {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menu-mobile-container .menu .sub-menu {
    margin-top: 15px;
    padding-left: 0;
    display: none;

    li {
      padding-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
      }
    }
  }

  .menu-item-has-children {
    > a {
      position: relative;

      &:before {
        content: "\f345";
        font-family: Dashicons;
        height: 23px;
        width: 20px;
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  .main-navigation-mobile-content {
    max-width: 500px;
    margin-left: initial;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    @include bp-phone-xl() {
      max-width: 100%;
    }
  }

  .menu-mobile-container .menu {
    padding-left: 0;
    max-width: 410px;
    overflow: auto;
    max-height: 97%;
    @include bp-phone-xl() {
      padding-top: 0;
      max-width: 100%;
    }

    li {
      text-align: left;
      padding-bottom: 20px;
      @include bp-phone-xl() {
        padding-bottom: 10px;
      }

      &.is-active {
        > .sub-menu {
          display: block;
          padding-left: 20px;
        }

        > a {
          &:before {
            transform: rotate(90deg);
          }
        }
      }

      &.btn {
        padding: 0;
        min-width: initial;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        @include bp-phone-xl() {
          margin-left: 10px;
          margin-right: 10px;
        }

        a {
          padding: 15px 40px;
          min-width: 180px;
          padding-left: 0;

          &:hover {
            border: none;
          }
        }
      }
    }

    a {
      text-transform: uppercase;
      font-size: 21px;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding-left: 10px;
    }
  }

  .language-selector {
    margin-left: auto;
    margin-right: 60px;
    top: 0;
  }
}
