.m-aboutme {
  .c-contentmultiple-img {
    .img-inner {
      padding-top: 120%;
      height: 100%;
      width: 100%;
      display: inline-block;
    }
  }
  .c-contentmultiple-content{
    display: flex;
    align-items: center;
    .content{
      background: #fee52f;
      padding: 35px 40px 35px;
      margin-left: -110px;
      box-shadow: 10px 12px 20px 0px rgba(0, 0, 0, 0.07);
      @include bp-phone-xl(){
        margin-left: 0;
        padding: 35px 30px 35px;
      }
    }
  }
}
