[id^=gallery] {
  padding-top: 10px;
  padding-bottom: 30px;
  width: calc(100% + 30px);
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  .gallery-item {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    img {
      max-width: 100%;
      height: auto;
      border: none;
    }
  }
}
