.s-mainintro {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  position: relative;
  color: $color-text;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  @include bp-phone-xl() {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .col-img .e-img-bg-wrapper {
    position: relative;
    height: 100%;
  }

  .col-content {
    z-index: 1;
  }

  .col-img {
    width: 50%;
    position: relative;
    padding-left: 40px;
    @include bp-phone-xl() {
      width: 100%;
      flex: initial;
    }

    .e-img-bg, .m-bgoverlay {
      @include position-absolute;
    }

    .m-bgoverlay {
      z-index: 1;
    }
  }
}

@import "intro/full";
@import "intro/half-offgrid";
@import "intro/post";
