.b-posts--wrapper {
  display: flex;
  margin-left: -15px;
  width: calc(100% + 30px);
  margin-top: 30px;
  flex-wrap: wrap;
  @include bp-phone-xl() {
    flex-direction: column;
  }

  .e-title {
    font-weight: bold;
    line-height: 20px;
  }

  .btn-link {
    margin-top: 10px;
  }
}

.b-post-preview {
  padding: 15px;
  width: calc(100% / 3);
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-bottom: 40px;

  &:hover {
    text-decoration: none;
  }

  @include bp-phone-xl() {
    width: 100%;
  }

  .e-img {
    padding-top: 70%;
    margin-bottom: 20px;
  }

  &.has-featuredimg {
    .b-post-preview-inner .b-post-preview-desc {
      background: rgba(#006eb8, 0.5);
    }
  }
}
