@import "./../../components/buttons";

.wp-block-button {
  &.aligncenter {
    .wp-block-button__link {
      margin: auto;
    }
  }

  .wp-block-button__link {
    &:hover {
      text-decoration: none;
    }
  }
}

.wp-block-buttons.aligncenter {
  justify-content: center;
}

.wp-block-button__link, .btn-check:focus + .btn-primary, .editor-styles-wrapper .btn-check:focus + a.add_to_cart_button, .btn-check:focus + .wp-block-button__link, .editor-styles-wrapper a.add_to_cart_button:focus, .wp-block-button__link:focus {
  @extend .btn-primary;
  @include bp-phone-xl() {
    width: 100%;
  }
}

.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
  @include bp-phone-xl() {
    width: 100%;
  }
}

.wp-block-buttons > .wp-block-button {
  margin-right: 0;
}

.wp-block-buttons > .wp-block-button.wp-block-button, .wp-block-buttons.is-content-justification-right > .wp-block-button.wp-block-button {
  @include bp-phone-xl() {
    width: 100%;
  }
}

.wp-block-button__link, .is-style-outline > .wp-block-button__link, .wp-block-button__link.is-style-outline {
  @include bp-phone-xl() {
    width: 100%;
  }
}

.wp-block-freeform.block-library-rich-text__tinymce .btn-primary {
  color: $color-btn-text;
}

.wp-block-freeform.block-library-rich-text__tinymce .btn-secondary {
  color: $color-btn2-text;
}
